
# secrets & envs
azure-iot-weather-stock-report/.env
azure-iot-weather-stock-report/.venv/
**/__pycache__/
*.pyc
# Terraform files
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl

# Python cache
__pycache__/
*.pyc
